<h1>Book Summaries</h1>

<!-- Loader -->
<p *ngIf="!books"><b>Loading......</b></p>

<table class="table table-striped" *ngIf="books">
<thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>Rate</th>
            <th>Date Started</th>
            <th>Date Read</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
</thead>

<tbody>
    <tr *ngFor="let book of books">
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <!-- Get 50 characters of the description -->
        <td>{{book.description | slice: 0:50}}...</td>
        <td>{{book.rate}}</td>
        <td>{{book.dateStart | date: "dd/MM/yyyy"}}</td>
        <td>{{book.dateRead | date: "dd/MM/yyyy"}}}</td>
        <td>{{book.dateRead ? "Read" : book.dateStart ? "In progress" : "Not started"}}</td>
        <td>
            <button class="btn btn-default btn-sm" type="button" (click)="showBook(book.id)">
                Show
            </button>
        </td>
        
    </tr>
</tbody>

</table>
